name: Publish To PyPI

on:
  release:
    types: [published]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: "3.11"

      - name: Install build dependencies
        run: |
         python -m pip install --upgrade pip
         pip install build twine
      
      - name: Update version with release tag
        run: VERSION="${{ github.event.release.tag_name }}" python -c "from airflow_provider_tm1.__init__ import update_version; update_version()"
        
      - name: Build
        run: python -m build
      
      - name: Publish to PyPI
        run: python -m twine upload dist/* -u__token__ -p${{ secrets.PYPI_TOKEN }} --verbose
